html {
    background-color: #39275B;
}

body {
    width: 600px;
    margin: 1em auto;
    background-color: white;
    border: 10px #D8C858 solid;
    padding: 0.5em;
}

hr {
    width: 90%;
    border: 1px solid #D8C858;
}

h1, h2 {
    font-family: sans-serif;
    text-align: center;
}

input[type="submit"] {
    font-size: 2em;
    width: 100%;
}
input {
	background-color: #eee;
}
button:hover{
	font-size:16pt;
	background-color: #39275B;
	border-color:#D8C858;
	color:white;
	margin-left:5%;
}
button{
	font-size:16pt;
	color:black;
	background-color: #eee;
	margin-left:5%;
}
form{
	margin-left:30%;
}
.parent-form{
	width:100%;
}